*.DS_Store
*build/
*builds/*
*/terraform/build/*
*.terraform.lock.hcl
*.terraform/
*terraform.tfstate
*terraform.tfstate.backup
*.ipynb_checkpoints
bda/terraform/builds/*
genai_txt/terraform/builds/*
